html,
body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}
#container{
    width: 100%;
    height: 100%;
    /* margin-left: 5%; */
    position: relative;
    /* border: 1px solid red; */
    overflow: hidden;
    background-color: #c1f1e948
}
#score_help{
    text-align: center;
    font-size: 25px;
    background-color: #e5f508
}
#branch{
    position: absolute;
    height: 2%;
    width: 100%;
    background-color: #e5f508
}
.hen{
    position: absolute;
    height: 15%;
    width: 10%;
    top: 10%;
    background: url('hen.gif');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
}

#hen1{
    left: 30%;
}

#hen2{
    left: 40%;
}

#hen3{
    left: 50%;
}

.egg{
    position: relative;
    top :18%;
    height: 5%;
    width: 2%;
    background-color: #f0c60bec;
    border-radius: 50%;
    z-index: 99;
}
#egg1{
    left: calc(30% + 8%/2 - 2%/2);
}
#egg2{
    left: calc(40% + 8%/2 - 2%/2);
    top: 4%;
}
#egg3{
    left: calc(50% + 8%/2 - 2%/2);
}
.bullseye{
    display: none;
    position: absolute;
    bottom: 0%;
    height: 6%;
    width: 5%;
    background: url('bulleseye.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 77;
}
#bullseye1{
    left: calc(30% + 8%/2 - 7%/2);
}
#bullseye2{
    left: calc(40% + 8%/2 - 7%/2);
}
#bullseye3{
    left: calc(50% + 8%/2 - 7%/2);
}
#floor{
    position: absolute;
    height: 7%;
    width: 100%;
    background-color: #83640f;
    bottom: 0;
    z-index: 70;
}
#basket{
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 5px;
    background: url('basket.png');
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 71;
}
#score_1{
    position: absolute;
    color: #90670d;
    font-size: 20px;
    top: 60%;
    left: 45%;
}

#restart{
    border: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: rgb(0, 255, 242);
    color: #0c0b0b;
    top: 40%;
    font-size: 35px;
    display: none;
    cursor: pointer;
}








