
.bzoom,
.bzoom_thumb,
.bzoom_thumb_image,
.bzoom_big_image,
.bzoom_zoom_preview,
.bzoom_icon,
.bzoom_hint { display: none }


.bzoom,
.bzoom ul,
.bzoom li,
.bzoom img,
.bzoom_hint,
.bzoom_icon,
.bzoom_description {
  margin: 15px 5px ;

  padding: 0;
  border: 0;
  list-style: none
}

.bzoom,
.bzoom_magnifier div,
.bzoom_magnifier div img,
.bzoom_small_thumbs ul,
ul .bzoom_small_thumbs li,
.bzoom_zoom_area div,
.bzoom_zoom_img { position: relative ;
float: left;

}

.bzoom,
.bzoom_small_thumbs li { float: left }


.bzoom li { position: absolute }

.bzoom img {

  width: 700px;
  height: 70px
}

.bzoom .bzoom_zoom_area,
.bzoom_zoom_area {
  padding: 20px;
  display: none;
  z-index: 10;
}

.bzoom_zoom_area div { overflow: hidden; }


.bzoom_magnifier div { overflow: hidden; }

.bzoom_wrap .bzoom_small_thumbs { overflow: hidden; }
