body{
    background-color: aqua;
}
#container{
    width: 350px;
    height: 770px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    overflow-y:auto;
    border: 5px solid aqua;
    border-style: groove;
    border-radius: 20px;
}
#container h1{
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: capitalize;
    color: rgb(255, 0, 0);
}
#container ul{
    margin-top: 50px;
    padding-left:0;
}
#container ul li{
    list-style: none;
    border: 2px solid rgba(18, 236, 218, 0.794);
    width: 80%;
     opacity: 0; 
    transition: opacity 0.5s ease-in-out;
    height: 40px;
    margin: 5px auto;
    text-align: left;
}
#container ul li label{
    margin: 0 auto;
    vertical-align: middle;
    height: 100%;
    line-height: 40px;
    font-size: 18px;
}
#container ul li #check{
    float: left;
    width: 30px;
    height: 30px;
    margin: 5px;
    -webkit-appearance: none;
    border: 2px solid rgba(18, 236, 218, 0.794);
    position: relative;
    outline: 0;
    background-color: rgba(18, 236, 218, 0.794);
}
#select{
    float: left;
    width: 30px;
    height: 30px;
    -webkit-appearance: none;
    border: 2px solid rgba(18, 236, 218, 0.794);
    position: relative;
    outline: 0;
    background-color: rgba(18, 236, 218, 0.794);
    top: 2px
}
#select:checked{
    background-color: rgba(218, 18, 236, 0.794);
}
#select:checked::after{
    content: '\2714';
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 7px;
    color: white;
}
 #select_all{
    position: absolute;
    top: 440px;
    left: 650px;
    border: 2px solid rgba(18, 236, 218, 0.794);
    border-radius: 10px;
    height: 40px;
    width: 115px;
    float: left;
    margin: 0 auto;
} 
#select_all label{
    position: relative;
    top: 10px;
}
#container ul li #check:checked{
    background-color: rgba(218, 18, 236, 0.794);
    
}
#container ul li #check:checked:after{
    content: '\2714';
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 7px;
    color: white;
    
}
#container ul li input[type='checkbox']:checked+label{
    text-decoration: line-through;
    color: blueviolet;
}
#container .controls{
    width: 80%;
    margin: 100px auto;
 
}
#container .controls #input {
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding-left: 5px;
    margin-bottom: 50px;
    border: 2px solid rgba(18, 236, 218, 0.794);
    box-sizing: border-box;
    border-radius: 10px;
}
#container .controls #input:focus {outline: 0;}
#container .controls button{
    width: 100%;
    background: white;
    border: none;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    color: white; 
    font-size: 18px;
}
#container .controls button:focus {outline: 0;}
#container .controls button:hover {transform: scale(1.05)}
#container .controls #add{
    background-color: rgb(65, 55, 218);
    border-radius: 10px;
}
#container .controls #remove{
    background-color: rgb(233, 94, 30);
    border-radius: 10px;
}
#container .mycheck{
     opacity: 1; 
    border-radius: 10px;
}
